<h2>新規会員登録</h2>

<%= form_with model: @customer, url: customer_registration_path, local: true do |f| %>
  <%= render "customers/shared/error_messages", resource: resource %>
  
  <div class="field">
    <%= f.label :（性） %><br />
    <%= f.text_field :first_name, autocomplete: "令和" %>
  </div>
  
   <div class="field">
    <%= f.label :（名）%><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "道子" %>
  </div>
  
  
  <div class="field">
    <%= f.label :（セイ） %><br />
    <%= f.text_field :last_kana_name, autocomplete: "レイワ" %>
  </div>
  
  <div class="field">
    <%= f.label :（ナ） %><br />
    <%= f.text_field :last_first_name, autocomplete: "レイワ" %>
  </div>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "ミチコ" %>
  </div>
  
  <div class="field">
    <%= f.label :住所 %><br />
    <%= f.text_field :address, autocomplete: "住所" %>
  </div>

  <div class="field">
    <%= f.label :郵便番号（ハイフンなし） %><br />
    <%= f.text_field :postal_code, autocomplete: "東京都渋谷区代々木神壺町0-0" %>
  </div>
  
  <div class="field">
    <%= f.label :電話番号 %><br />
    <%= f.text_field :telephone_number, autocomplete: "0000000000" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
  
  <p>すでに登録済みの方</p>
  <%= link_to "こちら", new_customer_session_path %><P>からログインを行なってください。</P>

<% end %>