<h4>商品一覧</h4>

<%= button_to "ボタン", {controller: 'items', action: 'new'}, {method: :get} %>

<div class="container px-5 px-sm-0">
  <div class="row">
   <div class="col-md-3">
  </div>
  
 <div class="col-md-8 offset-md-1">
   <table class="table table-hover table-inverse">
    <thead>
     <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜き価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
     </tr>
    </thead>
    
  <tbody>
   <% @items.each do |item| %>
    <tr>
     <td><%= item.id %></td>
     <td><%= item.name %></td>
     <td><%= item.price %></td>
     <td><%= item.genre.name %></td>
     <td>
      <% if item.is_acactive == true %>
        <p>販売中</p>
        <% else %>
        <p>販売停止中</p>
       <% end %>
      </td>
    </tr>
     <% end %>
  </tbody>
 </table>
 </div>
 </div>
 </div>
